{% assign offer = include.offer %}
<div class="offer-card is-loading">
  <div class="image bg-ratio bg-ratio--3-2"></div>
  <div class="content">
    <div class="location"></div>
    <div class="title">
    </div>
    <div class="tags">
    </div>
    <div class="bottom">
      <div class="left">
        <div class="price">
        </div>
      </div>
      <div class="right">
        <div class="saving">
        </div>
      </div>
    </div>
  </div>
  <a class="link" href="#offer-link"></a>
</div>
