{% assign offer = include.offer %}
<div class="offer-card">
  <div
    class="bg-ratio bg-ratio--3-2"
    style="background-image: url('{{site.img}}/img.jpg')"
  ></div>
  <div class="content">
    <div class="location">Region, country / City, country / Countries</div>
    <div class="title">
      Hotel informations, holiday type, experience, inspiring description
    </div>
    <div class="tags">
      <div class="tag">
        <img src="{{site.img}}/icons/plane.svg" alt="Airplane icon" /> Flights
        included
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="price">
          <div>From <span>£999</span> <s>£9999</s></div>
          <div>Per room per night</div>
        </div>
      </div>
      <div class="right">
        <div class="saving">
          Up to
          <span>-99%</span>
        </div>
      </div>
    </div>
  </div>
  <a class="link" href="#offer-link"></a>
</div>
