<footer class="footer">
  <div class="wrap">
    <div class="top-row">
      <div class="row">
        <div class="col col--9">
          <h1 class="title"><span>As featured in</span></h1>
          <ul class="images">
            {% for item in site.data.core-nav.footer.featured %}
            <li style="max-width: {{item.width}}px;">
              <img
                src="{{site.img}}/logo/{{item.id}}.svg"
                alt="{{item.text }} logo"
              />
            </li>
            {% unless forloop.last %}&#32;{% endunless %} {% endfor %}
          </ul>
        </div>
        <div class="col col--3">
          <h1 class="title"><span>We are secure</span></h1>
          <a
            class="block"
            style="max-width: 70px"
            href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.secretescapes.com&lang=en"
            target="_blank"
            ><img
              class="h-14"
              src="{{site.img}}/logo/norton-secured.svg"
              alt="Norton Secured logo"
          /></a>
        </div>
      </div>
    </div>
    <div class="row row--gutter-sm links">
      <div class="col col--2">
        <h1>Secret Escapes</h1>
      </div>
      <ul class="col col--10">
        {% for item in site.data.core-nav.footer.secret-escapes %}
        <li><a href="{{item.link}}">{{item.text}}</a></li>
        {% unless forloop.last %}&#32;{% endunless %} {% endfor %}
      </ul>
    </div>
    <hr />
    <div class="row row--gutter-sm links">
      <div class="col col--2">
        <h1>Collections</h1>
      </div>
      <ul class="col col--10">
        {% for item in site.data.core-nav.footer.collections %}
        <li><a href="{{item.link}}">{{item.text}}</a></li>
        {% unless forloop.last %}&#32;{% endunless %} {% endfor %}
      </ul>
    </div>
    <div class="end-row">
      <div class="row row--6-6">
        <div class="col">© Copyright 2021 Secret Escapes</div>
        <div class="col">
          <ul class="social-icons">
            {% for item in site.data.core-nav.footer.social %}
            <li>
              <a href="{{item.link}}">
                <img
                  src="{{site.img}}/icons/{{item.id}}.svg"
                  alt="{{item.text}} icon"
                />
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
