<div class="flex items-center justify-center content-padding">
  <div class="max-w-screen-md text-center">
    <h2 class="font-serif font-bold text-3xl leading-none">The AA Promotion</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt
      recusandae at, maxime, maiores nulla aut distinctio, aliquid doloremque
      veniam pariatur
    </p>
    <div class="h-4"></div>
    <a href="{{site.baseurl}}/the-aa" class="btn-outline btn-outline--partner"
      >Find Out More</a
    >
  </div>
</div>
