{% assign trip = include.data %}
<div class="rounded overflow-hidden">
  <div
    class="ratio ratio--1-1 bg-grey-700 bg-cover bg-no-repeat bg-center"
    style="background-image: url('{{site.img}}/content/{{trip.id}}/bg.jpg');"
  >
    <a
      href="{{site.baseurl}}{{trip.url}}"
      class="absolute top-0 left-0 right-0 bottom-0"
    ></a>
  </div>
  <div class="p-4 bg-grey-100">
    <h2 class="font-bold font-serif text-2xl leading-tight">{{trip.title}}</h2>
    <p class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, adipisci
      saepe praesentium aliquam atque voluptatibus soluta corporis.
    </p>
    <div class="h-2"></div>
    <a class="btn btn--sm" href="{{site.baseurl}}{{trip.url}}">View Trip</a>
  </div>
</div>
