@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "grid/grid.css";

@import "nav/header.css";
@import "nav/page.css";
@import "nav/footer.css";

@import "component/bg-ratio.css";
@import "component/button.css";
@import "component/icon.css";
@import "component/offer-card.css";

@import "content/content.css";
@import "content/page.css";
@import "content/bob.css";
@import "content/titles.css";

body {
  /* font rendering options */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

/******************************************************** mapbox modal tweaks */

.mapboxgl-popup-content {
  @apply p-0 font-sans text-base leading-normal rounded overflow-hidden;
}

.mapboxgl-popup-close-button {
  @apply h-10 w-10 leading-none bg-black bg-center bg-no-repeat rounded-bl overflow-hidden;
  background-image: url("../img/icons/close.svg");
  background-size: theme(spacing.4);
  text-indent: -99999rem;
  &:hover {
    @apply bg-black bg-opacity-80;
  }
}
