<div class="flex items-center justify-center content-padding bg-white{% unless include.no-border == 'true' %} content-border{% endunless %}">
  <div class="row row--6-6 row--center">
    <div class="col">
      <div class="bg-ratio bg-ratio--1-1 bg-black bg-cover bg-center" style="background-image:url('{{site.img}}/content/the-aa/nav.jpg')"></div>
    </div>
    <div class="col content-spacing">
      <h2 class="font-serif font-bold text-4xl leading-none">We'll get you back <br>  on the road</h2>
      <p>Join the UK's number 1 breakdown service provider and get <strong class="font-semibold">£25&nbsp;Secret Escape credit</strong> to put towards your next break</p>
      <div class="h-3"></div>
      <a href="#external-aa-link" class="btn-outline btn-outline--partner">Find Out More</a>
    </div>
  </div>
</div>
