<div class="flex items-center justify-center content-padding bg-white{% unless include.no-border == 'true' %} content-border{% endunless %}">
  <div class="max-w-screen-md text-center content-spacing py-8">
    <h2 class="font-serif font-bold text-3xl leading-none">We'll get you back on the road</h2>
    <p>Join the UK's number 1 breakdown service provider and get <strong class="font-semibold">£25&nbsp;Secret Escape credit</strong> to put towards your next break</p>
    <div class="h-3"></div>
    <a href="#external-aa-link" class="btn-outline btn-outline--partner">Find Out More</a>
  </div>
</div>
