<div class="flex items-center justify-start bg-grey-700 bg-cover bg-no-repeat bg-center px-8 py-24 lg:px-16 lg:py-36" style="background-image: url('{{site.img}}/content/the-aa/bg-promo.png')">
  <div class="max-w-screen-lg">
    <h2 class="font-serif font-bold text-4xl leading-snug">Join the UK's number 1 breakdown service provider</h2>
    <p>Your holiday starts the moment your engine fires into life. Enjoy the journey with the comfort of knowing you’re covered for any mishap, with roadside assistance there to help you continue on your adventure.</p>
    <div class="h-4"></div>
    <a href="#external-client-link" class="btn btn--partner-white">Find Out More</a>
  </div>
</div>
