---
layout: default
---

{% include nav/header.html %}
<div class="page">
  <div
    class="page-bg"
    style="background-image: url('{{site.img}}/content/{{page.id}}/{% if page.header-image %}{{page.header-image}}{% else %}bg.jpg{% endif %}')"
  ></div>
  <main class="page-content">
    <!-- page header -->
    <div class="page-padding">
      <header
        class="page-header{% if page.id == 'overview' %} page-header--lg
          {% endif %}"
      >
        {% if page.header-content %}
          {{page.header-content | liquify}}
        {% elsif layout.header-content %}
          {{layout.header-content | liquify}}
        {% else %}
          <h1 class="font-sans font-black italic tracking-wider uppercase text-white text-8xl">
            {{page.title}}
          </h1>
        {% endif %}
      </header>
    </div>
    <!-- page content -->
    <div class="page-padding">
      <div class="shadow-f1 rounded overflow-hidden mx-auto max-w-screen-2xl">
        {% include nav/page.html %}
        <div class="bg-white text-textBlack">{{ content }}</div>
        {% unless page.id == 'the-aa' %}
          {% if page.id == 'overview' %}
            {% include content/promo.html no-border="true"%}
          {% else %}
            {% include content/promo.html %}
          {% endif %}
        {% endunless %}
      </div>
    </div>
    {% unless page.id == 'the-aa' or page.id == 'offers' %}
      {% include content/offer-section.html %}
    {% endunless %}
  </main>
</div>
{% include nav/footer.html %}
