---
layout: standard
---

<div class="content-padding content-spacing">
  <div class="mx-auto max-w-screen-lg text-center">
    <p>{{page.introduction}}</p>
  </div>
</div>
<div class="content-border">
  <div class="row row--gutter-0">
    <div class="col col--8">
      <div class="content-padding content-spacing">
        {% for stop in page.stops %}
          <div>
            <h3 class="flex items-center -m-4 pt-8 pb-2">
              <span
                class="flex items-center justify-center rounded-full h-8 w-8
                bg-primary-400 text-white text-center font-bold font-serif
                text-xl m-4 flex-shrink-0">
                {{forloop.index}}
              </span>
              <span class="h5">
                {{stop.title}}
              </span>
            </h3>
            <p>{{stop.description}}</p>
          </div>
        {% endfor %}
        <div class="pt-8">
          <a href="{{page.se-link}}" class="btn">Book this break</a>
        </div>
      </div>
    </div>
    <div class="col col--4">
      <div id="map" data-trip-id="{{page.id}}" class="bg-black h-screen"></div>
    </div>
  </div>
</div>
<div class="content-padding content-border">
  <div class="text-center">
    <h2 class="font-serif font-bold text-3xl">Choose another trip</h2>
    <div class="h-6"></div>
  </div>
  <div class="row row--3-3-3-3 row--gutter-sm">
    {% assign trip-pages = site.html_pages | where: 'layout', 'trip' | sort: 'order' %}
    {% for trip in trip-pages %}
      {% unless page.id == trip.id %}
        <div class="col">
          {% include content/road-trip.html data="trip" %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>
