---
layout: standard
header-content: >
  <div class="max-w-screen-xl mx-auto">
    <h1 class="font-serif font-bold text-7xl text-white text-center leading-none">
      {{page.title}}
    </h1>
  </div>
---

<div class="content-padding content-spacing">
  <div class="mx-auto max-w-screen-lg text-center">
    <p>{{page.intro}}</p>
    <p class="pt-2">For that feeling of…</p>
    <ul class="flex flex-wrap justify-center -mt-4 -ml-4 py-2">
      {% for item in page.tags %}
        {% assign tag = site.data.tags | where: "id", item | first %}
        <li class="block mt-4 ml-4 border border-primary-400 rounded text-primary-400 py-2 px-3 leading-none">{{tag.text}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="content-border">
  <div class="js-trip-content row row--gutter-0">
    <div class="col col--8">
      <div class="content-padding content-spacing">
        {% for stop in page.stops %}
          <div id="{{stop.id}}" class="js-trip-stop{% unless forloop.last %} pb-12{% endunless %}">
            <div class="bg-textBlack bg-ratio bg-ratio--3-2 bg-center bg-cover bg-no-repeat" style="background-image: url('{{site.img}}/content/{{page.id}}/{{stop.id}}.jpg')"></div>
            <h3 class="flex items-center -m-4 pt-6 pb-2">
              <span
                class="flex items-center justify-center rounded-full h-8 w-8 text-center font-bold font-serif text-xl m-4 flex-shrink-0 {% if stop.type == "hotel" %}text-white bg-textBlack{% else %}text-textBlack bg-partner{% endif %}">
                {{forloop.index}}
              </span>
              <span class="h5">
                {{stop.title}}
              </span>
            </h3>
            {% for paragraph in stop.description %}
              <p>{{paragraph}}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <div class="pt-10">
          <a href="{{page.se-link}}" class="btn">Book this trip</a>
        </div>
      </div>
    </div>
    <div class="col col--4">
      <div id="map" class="js-sticky-map w-full h-screen" data-trip-id="{{page.id}}"></div>
    </div>
  </div>
</div>
<div class="content-padding content-border">
  <div class="text-center">
    <h2 class="font-serif font-bold text-3xl">Choose another trip</h2>
    <div class="h-6"></div>
  </div>
  <div class="row row--4-4-4 row--gutter-sm">
    {% assign trip-pages = site.html_pages | where: 'layout', 'trip' | sort: 'order' %}
    {% for trip in trip-pages %}
      {% unless page.id == trip.id %}
        <div class="col">
          {% include content/road-trip.html data="trip" %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>
